
/*========================
	7. Listing-Page
=============================*/
.listing-page {
    overflow: hidden;
    padding: 80px 0;
  }
  .result-sorting-wrapper {
    background: #f5f5f5 none repeat scroll 0 0;
    border-bottom: 3px solid #e5e5e5;
    border-left: 4px solid #cecece;
    margin-bottom: 40px;
    overflow: hidden;
    padding: 10px 20px;
  }
  .sorting-count {
    float: left;
  }
  .sorting-count p {
    margin: 0 auto;
    color:#222222;
  }
  .sorting-count span {
    color: #999999;
  }
  .result-sorting-by {
    float: right;
  }
  .result-sorting-by p {
    display: inline-block;
    margin: 0 auto;
    color:#222222;
  }
  .result-sorting-by form {
    display: inline-block;
  }
  .sorting-select {
    margin: 0 auto;
    padding-left: 10px;
  }
  .sorting-select .form-control {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #dddddd;
    border-radius: 50px;
    color: #555555;
    font-size: 12px;
    height: auto;
    padding: 0 30px 0 12px;
  }
  .sorting-select.select::after {
    font-size: 12px;
    padding: 7px 0;
    right: 13px;
    color: #555555;
  }
  .sorting-select .form-control option {
    padding: 5px;
  }
  .product-listing-m {
    margin:0 auto 40px;
    overflow: hidden;
  }
  .product-listing-img {
    float: left;
    width: 45%;
    position:relative;
    overflow:hidden;
  }
  .product-listing-content {
    float: left;
    padding:20px 15px 20px 30px;
    width: 55%;
  }
  .product-listing-content h5 {
    margin-bottom: 2px;
  }
  .product-listing-content h5 a {
      color:#111;
  }
  .product-listing-content ul {
    margin: 0 auto 22px;
    overflow: hidden;
    padding: 0;
  }
  .product-listing-content li {
    float: left;
    font-size: 13px;
    font-weight: 400;
    list-style: outside none none;
    margin: 0 auto;
    width: 33%;
  }
  .product-listing-content li .fa {
    font-size: 15px;
    margin-right: 8px;
  }
  .car-location {
    display: inline-block;
    margin-left: 24px;
    color:#919090;
    font-size:13px;
  }
  .label_icon {
    color: #ffffff;
    font-size: 13px;
    line-height: 26px;
    padding: 0 12px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
  }
  .recent_addedcars ul {
    margin: 0;
    padding: 0;
  }
  .recent_addedcars ul li {
    list-style: outside none none;
    margin: 0 auto 15px;
    overflow: hidden;
  }
  .recent_addedcars ul li a {
    display: block;
  }
  .recent_post_img {
    float: left;
    width: 34%;
    overflow:hidden;
  }
  .recent_post_img img {
      transition-duration:0.3s;
       -moz-transition-duration:0.3s;
        -o-transition-duration:0.3s;
         -webkit-transition-duration:0.3s;
          -ms-transition-duration:0.3s;
      transform:scale(1);
       -moz-transform:scale(1);
        -o-transform:scale(1);
         -webkit-transform:scale(1);
          -ms-transform:scale(1);
      width: 100%;
  }
  .recent_post_img:hover img {
      transform:scale(1.1);
       -moz-transform:scale(1.1);
        -o-transform:scale(1.1);
         -webkit-transform:scale(1.1);
          -ms-transform:scale(1.1);
  }
  .recent_post_title {
    float: right;
    padding: 4px 10px;
    width: 66%;
  }
  .recent_post_title a {
    color: #111;
    font-weight: 700;
    line-height: 22px;
  }
  .widget_price {
      font-size:13px;
      margin:0px;
  }
  
  .sell_car_quote {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 25px !important;
  }
  .sell_car_quote .btn {
      margin-bottom:15px;
  }
  
  
  
  /*===========================
      8. Listing-grid-Style
  ==================================*/
  .grid_listing .product-listing-m {
    margin: 0 -15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin:0 auto 40px;
  }
  .grid_listing .product-listing-img, .grid_listing .product-listing-content {
      float:none;
      width:100%;
  }
  .grid_listing .product-listing-img img {
      width:100%;
  }
  .grid_listing .product-listing-content {
    padding: 20px 20px 0;
  }
  .grid_listing .product-listing-content h5 {
      line-height:26px;
      margin:0 auto 20px
  }
  .grid_listing .product-listing-content .list-price {
      font-size:18px;
      color:#555;
      font-weight:900;
      display:inline-block;
      vertical-align:middle;
      margin:0 auto;
  }
  .grid_listing .product-listing-content .car-location {
    float: right;
  }
  .grid_listing .product-listing-content ul.features_list {
    background: #fff none repeat scroll 0 0;
    border-top: 1px solid #e1e0e0;
    clear:both;
    margin: 16px -20px 0;
    padding: 15px 20px;
  }
  .grid_listing .product-listing-content ul.features_list li {
    color: #8d8d8d;
    margin-bottom: 3px;
    width: 50%;
  }
  .grid_listing:nth-child(3n+1) {
    clear: left;
  }
  .grid_listing:nth-child(3n) {
    clear: right;
  }
  
  
  /*=======================
      9. Listing-Detail
  ===============================*/
  .listing-detail {
      padding:80px 0;
  }
  .listing_detail_head {
      margin-bottom:50px;
  }
  .listing_detail_header .listing_detail_head {
      margin-bottom:0px;
  }
  .pricing_info .price {
    display: inline-block;
    font-size: 28px;
    font-weight: 900;
    margin: 0;
    vertical-align: middle;
  }
  .listing_more_info {
      overflow:hidden;
      padding:50px 0;
  }
  .listing_info_tab {
    border: 1px solid #e0dfdf;
    margin-top: 20px;
    padding: 40px;
  }
  .block-head {
      margin-bottom:30px;
  }
  .block-head h4 {
      margin:0px;
  }
  table.info-tabel tr td {
      border-left-width:0px;
      border-right-width:0px;
      padding:15px 20px ;
  }
  .info-tabel tr td:first-child {
      color:#111;
      border-left-width:1px;
      font-weight:700;
  }
  .info-tabel tr td:last-child {
      border-right-width:1px;
  }
  .financing_calculatoe {
      margin-bottom:20px;
  }
  .financing_calculatoe .btn {
      margin-top:15px;
  }
  .dealer_detail img {
      max-width:100%;
      margin:0 auto 15px;
  }
  .dealer_detail p {
      margin:0 auto 8px;
  }
  .dealer_detail p span {
      color:#111;
      margin:0 5px 0 0;
      min-width:50px;
      display:inline-block;
  }
  .dealer_detail .btn {
      margin-top:15px;
  }
  .listing_detail_wrap {
      border:#dcd9d9 solid 1px;
  }
  .listing_detail_wrap .nav-tabs > li a {
      font-size:18px;
      font-weight:400;
      line-height:66px;
      padding:0 30px;
      background:none;
      color:#555;
  }
  .listing_detail_wrap .nav-tabs > li.active a, .listing_detail_wrap .nav-tabs > li:hover a {
      color:#fff;
      background:#fa2837;
  }
  .listing_detail_wrap .tab-content {
    padding: 30px;
  }
  .listing_detail_wrap .tab-content h1, .listing_detail_wrap .tab-content h2,
  .listing_detail_wrap .tab-content h3, .listing_detail_wrap .tab-content h4,
  .listing_detail_wrap .tab-content h5, .listing_detail_wrap .tab-content h6 {
      margin-top:35px;
  }
  .listing_more_info table td, .listing_more_info table th {
      font-size:16px;
  }
  .listing_more_info table tr td:first-child {
      color:#111;
  }
  
  .similar_cars {
      padding:20px 0;
  }
  .similar_cars h3 {
      margin-bottom:25px;
  }
  .similar_cars .grid_listing:nth-child(3n+1), .similar_cars .grid_listing:nth-child(3n) {
    clear: inherit;
  }
  
  .main_features {
      overflow:hidden;
  }
  .main_features ul {
      padding:0px;
      margin:0px;
  }
  .main_features ul li {
    border: 1px solid #dcd9d9;
    float: left;
    list-style: outside none none;
    margin: 0 17px 0 0;
    min-height: 113px;
    min-width: 123px;
    padding: 10px;
    text-align: center;
  }
  .main_features ul li h5 {
      font-weight:300;
      margin:0px;
  }
  .main_features ul li p {
      font-size:11px;
      margin:0px;
  }
  .main_features ul li i {
      color:#c0c0c0;
      font-size:36px;
      margin:0px;
  }
  .main_features ul li:last-child {
      margin:0px;
  }
  .share_vehicle {
      background:#222222;
      padding:22px 26px;
      margin:0 auto 35px;
  }
  .share_vehicle p, .share_vehicle a {
      color:#fff;
      font-size:20px;
      margin:0px;
  }
  .share_vehicle a {
      margin:0 4px;
  }
  .add_compare {
      margin:0 0 15px 0 ;
  }
  .add_compare .checkbox {
    color: #ffffff;
    display: inline-block;
    margin: 0;
    padding: 6px 15px;
  }
  .add_compare .checkbox label::before {
      border-color:#fff;
      background:#fff;
  }
  .listing_detail_head .car-location {
      margin:0px;
      color:#555;
      font:16px;
  }
  .listing_detail_head .price_info {
    overflow: visible;
    text-align: right;
  }
  .listing_detail_head .price_info p {
      font-size:40px;
      font-weight:900;
  }
  .listing_detail_head .price_info .old_price {
      color:#222;
      text-decoration:line-through;
      font-size:20px;
  }
  #info_toggle {
      float:left;
  }
  .listing_other_info button {
      background:none;
      border:0px;
      border-radius:0px;
      font-size:16px;
      text-transform:uppercase;
      padding:26px 0;
      margin:0 40px 0 0;
  }
  .listing_other_info button i {
      margin:0 4px 0 0;
  }
  .listing_other_info button:last-child {
      margin:0px;
  }
  .search_other {
    float: right;
    font-size: 16px;
    padding: 26px 20px;
    text-transform: uppercase;
    cursor:pointer;
  }
  #other_info {
    border-radius: 50%;
    cursor: pointer;
    display: none;
    float: left;
    font-size: 18px;
    margin-top: 14px;
    padding: 10px 15px;
    text-transform: uppercase;
  }
  .owl-buttons {
    left: 10px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform:translateY(-50%);
     -moz-transform:translateY(-50%);
      -o-transform:translateY(-50%);
       -webkit-transform:translateY(-50%);
        -ms-transform:translateY(-50%)
  }
  .owl-buttons div {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    border-style: solid;
    border-width: 2px;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    padding: 7px;
    text-transform: capitalize;
  }
  .owl-buttons .owl-next {
      float:right;
  }
  
  
  .listing_detail_header {
   
    padding: 80px 0;
    position: relative;
  }
  .listing_detail_header .share_vehicle {
      display:inline-block;
      background:none;
      padding:0px;
      margin:0 0 0 20px;
  }
  .listing_detail_header .listing_detail_head .price_info .old_price {
      color:#fff;
  }
  .listing_detail_header .listing_detail_head .car-location {
    color: #ffffff;
    font-size: 16px;
    margin: 0 0 30px;
  }
  .slick-slide img {
      max-width:100%;
  }
  .listing_images_slider_nav {
      position:relative;
      padding:0 50px;
      margin:15px auto 40px;
  }
  .listing_images_slider_nav .slick-slide {
      margin:0 8px;
      cursor:pointer;
  }
  .slick-arrow {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    font-size: 0;
    position: absolute;
    top: 50%;
    left:0;
    transform: translateY(-50%);
  }
  .slick-arrow.slick-next {
      right:0px;
      left:inherit;
  }
  .slick-arrow::after {
    content: "ï„…";
    font-family: fontawesome;
    font-size: 34px;
  }
  
  .slick-arrow.slick-prev::after {
    content: "\f104";
  }
  
  .slick-arrow.slick-next::after {
    content: "\f105";
  }
  .inner-filter {
      display:none;
  }
  
  .video_wrap {
      margin:40px auto 0px
  }
  .video-box iframe {
      width:100%;
      height:400px;
      border:0px;
  }
  